body{
    font-family: Arial ,sans-serif;
    margin: 20 px;
    background-color: #ea725e;
}

header{
    background-color: #f8f9fa;
    padding: 10px;
}

.featured img{
    margin: 24px;
}



.calendar table{
    width: 100%;
    background-color: #f8f9fa;
    border-collapse:collapse;
}
.calendar table, th, td{
    border: 1px solid black;
}
.calendar th, td{
    padding: 10px;
    text-align: left;
}
.reverse form{
    margin-top: 20px;
}

.reverse{
    margin: 20px 0px;
}

.reverse button{
    color: #2e2d25;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background-color: #f7d959;
    border-color: aliceblue;
}

footer {
    border-top: 1px solid #808088;
    padding: 10px;
  }
  
  .footer-cont {
    display: flex;
    align-items: baseline;
  }
  
  .footer-links {
    width: 100%;
    padding: 25px 25px;
  }
  
  .footer-links a {
    padding-left: 20px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  